<footer class="text-gray-600 body-font bg-gray-200 ">
    <div class="container px-5 py-24 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col">
        <div class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left">
            <%= link_to root_path, class:"flex title-font font-medium items-center md:justify-start justify-center text-gray-900" do%>
                <%= image_tag 'events-logo.png'%>
                <span class="ml-3 text-xl">EventGuard</span>
            <% end %>
            <p class="mt-2 text-sm text-gray-500">Air plant banjo lyft occupy retro adaptogen indego</p>
        </div>
        <div class="flex-grow flex flex-wrap md:pl-20 -mb-10 md:mt-0 mt-10 md:text-left text-center">
            <div class="lg:w-1/4 md:w-1/2 w-full px-4">
                <nav class="list-none mb-10">
                    <li>
                        <%= link_to "Events", events_path ,class:"text-gray-600 hover:text-gray-800" %>
                    </li>
                    <li>
                        <%= link_to "About", about_path ,class:"text-gray-600 hover:text-gray-800" %>
                    </li>
                    <li>
                        <%= link_to "Contact", contact_path ,class:"text-gray-600 hover:text-gray-800" %>
                    </li>
                    <li>
                        <%= link_to "Dashboard", dashboard_root_path ,class:"text-gray-600 hover:text-gray-800" %>
                    </li>
                </nav>
            </div>
            <div class="lg:w-1/4 md:w-1/2 w-full px-4">
                <nav class="list-none mb-10">
                    <li>
                        <span class="text-gray-400">Location:</span>
                        <%= link_to "312 Lovely Street,NY", "https://www.google.com/maps", class:"text-gray-600 hover:text-gray-800" %>
                    </li>
                    <li>
                        <span class="text-gray-400">Email:</span>
                        <%= mail_to "info@eventguard.com","info@eventguard.com", class:"text-gray-600 hover:text-gray-800" %>
                    </li>
                    <li>
                        <span class="text-gray-400">Phone Number:</span>
                        <%= link_to "850-123-5021","tel:850-123-5021", class:"text-gray-600 hover:text-gray-800" %>
                    </li>
                </nav>
            </div>
        </div>
    </div>
    <div class="bg-gray-100">
        <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
            <p class="text-gray-500 text-sm text-center sm:text-left">© 2022 EventGuard —
                <%= link_to  'https://twitter.com', class:"text-gray-600 ml-1" do%>
                @eventguard.com
            </p>
                <% end %>
            <span class="inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start">
                <%= link_to "https://facebook.com", class:"text-gray-500 mx-2" do%>
                    <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                        <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
                    </svg>
                <% end %>
                <%= link_to "https://twitter.com", class:"text-gray-500 mx-2" do%>
                    <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                        <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
                    </svg>
                <% end %>
                <%= link_to "https://instagram.com", class:"text-gray-500 mx-2" do%>
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                        <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                        <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                    </svg>
                <% end %>
                <%= link_to "https://linkedin.com", class:"text-gray-500 mx-2" do%>
                    <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                        <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
                        <circle cx="4" cy="4" r="2" stroke="none"></circle>
                    </svg>
                <% end %>
            </span>
        </div>
    </div>
</footer>