<!DOCTYPE html>
<html>
  <head>
    <title>Eventguard</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('events-logo.png') %>
  </head>
  <body>
    <%= render partial: "layouts/i18n"%>
    <%= render partial: "layouts/navbar"%>
    <%= render partial: "layouts/flash"%>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>